.flex-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */

    /*justify-content: space-evenly;*/
    /* justify-content: center; */
  /* justify-content: space-evenly;  */

  /* align-items: baseline; */

  /* align-content: center; */
   align-content: space-evenly;

   
    background-color: red;
    height: 100vh;
}

.flex-container > p{
  /* width: 2rem; */
  /* height: 2rem; */
  background-color: blue;
  background-color: blueviolet;
  padding: 1rem;
  border: 1px solid black;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  font-family: "Arial";
  margin: 0;

}
 .flex-grande {
  font-size: 150% !important;

 }