<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
        <link rel="stylesheet" href="/css/styles.css">    
</head>
<body>
          
   <header>

   
    <img src="/images/logo-mercado-liebre.svg"  alt="aqui va la imagen" width="50%" height="70">

    <div class="lupita">
        <form action="">
            <input type="text" placeholder="Buscar" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        </div>
    <p class="segundo-parrafo"> <b> <i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y sin tarjeta de credito </b> </p>

   
    <nav>
    <ul>
        
        <li> <a href="">Ofertas</a></li>
        <li> <a href=""> Tiendas Oficiales</a></li>
        <li> <a href="">Vender </a></li>
        <li> <a href="">Ayuda</a></li>
        </ul>

        <ul> 
            <li> <a href="">   Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
            <li> <a href="">   Ingresa  <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li> <a href="">   Mis cuentas <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </nav>
    <div  class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

            <br>
            <br>
    </header>
                 <section>
                 <img class="banner-official" src="/images/img-home-banner.jpg" alt="banner">
                </section>
                  <main> 
                <h1>Basado en su ultima visita</h1>
        <section class="contenedor-tarjeta">

           
            <div class="producto1"> 
                <img src="images\img-cafetera-moulinex.jpg" alt="cafetera">
                <p> $6770 <br> 40% OFF <br> <h3> Cafetera Moulinex </h3> </p>
                   </div>
          
                   <div class="producto1"> 
        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" >
        <p> $230.000 <br> 20% OFF <br> <h3> MacBook Pro-2019 </h3> </p>
    </div>
            <div class="producto1">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <p> $70.500 <br> 10% OFF <br> <h3> Samsung Galaxy S10 </h3> </p>
    </div>

                <div class="producto1">
        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv">
        <p> $23.200 <br> 5% OFF <br> <h3> Smart Tv Samsung 43" </h3> </p>
    </div>
    </section>
    

    <h1> Sección de Ofertas </h1>

    <section class="contenedor-tarjeta"> 
        
        <div class="producto1"> 
            <img src="images\img-cafetera-moulinex.jpg" alt="cafetera" >
        <p> $6770 <br> 40% OFF <br> <h3> Cafetera Moulinex </h3> </p>
        </div>

        <div class="producto1" >
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" >
        <p> $230.000 <br> 20% OFF <br> <h3> MacBook Pro-2019 </h3> </p>
        </div>
        
        <div class="producto1" >
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
        <p> $70.500 <br> 10% OFF <br> <h3> Samsung Galaxy S10 </h3> </p>
        </div>
        <div class="producto1">
            <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv">
            <p> $23.200 <br> 5% OFF <br> <h3> Smart Tv Samsung 43" </h3> </p>
        </div>

    </section> 
                </main>
                <br>
                <br>
                <br>
        <footer> 
            <section> 
               <div> <i class="fa-solid fa-credit-card"></i></div>
               
             <h3> Pagá con tarjeta o en efectivo</h3>

                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro! </p>
                
                    <div> <i class="fa-solid fa-gift"></i></div>
                    <h3>Envío gratis desde $ 2.500</h3>

                    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                        <div><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>

                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

                </ul>
            </section>
        </footer>
</body>
</html>