<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>mercado liebre</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <header>
    <div class="barra-de-nav">
      <div class="header-cotent">
        <div class="content__search">
          <img class="search__logo" src="images/logo-mercado-liebre.svg" alt="aqui va la imagen" />

          <form class="search__form lupita">
            <div class="form__content">
              <input type="text" placeholder="Buscar" class="input">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </form>
        </div>

        <p class="primer-parrafo">
          <b>
            <i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y
            sin tarjeta de credito
          </b>
        </p>
      </div>

      <nav class="ocultar-versiones">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href=""> Tiendas Oficiales</a></li>
          <li><a href="">Vender </a></li>
          <li><a href="">Ayuda</a></li>
        </ul>

        <ul>
          <li>
            <a href="">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a>
          </li>
          <li>
            <a href=""> Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="">
              Mis cuentas <i class="fa-solid fa-basket-shopping"></i></a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </header>
  <section>
    <img class="banner-official" src="/images/img-home-banner.jpg" alt="banner" />
  </section>



  <main class="principal">

    <h1 class="titulo">Basado en su ultima visita</h1>

    <section class="contenedor-tarjeta">
      <article class="producto">
        <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" />

        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>

          <h3>Cafetera Moulinex</h3>
          <p class="descripcion">
            descripcion del producto
          </p>
          <p>
            $6770
            <span class="descuento"> 40% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>MacBook Pro-2019</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $230.000
            <span class="descuento"> 20% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>Samsung Galaxy S10</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $70.500
            <span class="descuento"> 10% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>Smart Tv Samsung 43"</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $23.200
            <span class="descuento"> 5% OFF </span>
          </p>
        </div>
      </article>
    </section>

    <h1 class="titulo2">Sección de Ofertas</h1>

    <section class="contenedor-tarjeta">
      <article class="producto">
        <img class="imagen" src="/images\img-cafetera-moulinex.jpg" alt="cafetera" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>Cafetera Moulinex</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $6770
            <span class="descuento"> 40% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>MacBook Pro-2019</h3>
          <p class="descripcion">
            DESCRIPCION.

          </p>
          <p>
            $230.000
            <span class="descuento"> 20% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>Samsung Galaxy S10</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $70.500
            <span class="descuento"> 10% OFF </span>
          </p>
        </div>
      </article>

      <article class="producto">
        <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv" />
        <div class="producto-info">
          <div class="icon-camion"><i class="fa-solid fa-truck"></i></div>
          <h3>Smart Tv Samsung 43"</h3>
          <p class="descripcion">
            DESCRIPCION.
          </p>
          <p>
            $23.200
            <span class="descuento"> 5% OFF </span>
          </p>
        </div>
      </article>
    </section>
  </main>

  <footer>
    <section>
      <div><i class="fa-solid fa-credit-card"></i></div>

      <h3>Pagá con tarjeta o en efectivo</h3>

      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>

      <div><i class="fa-solid fa-gift"></i></div>
      <h3>Envío gratis desde $ 2.500</h3>

      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
      <div><i class="fa-solid fa-user-shield"></i></div>
      <h3>Seguridad, de principio a fin</h3>

      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
</body>

</html>