<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/cbbf860933.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="espacio-elementos">
      <div class="header-content">
        <a href="/"><img
          class="search__logo"
          src="images/logo-mercado-liebre.svg"
          alt="aqui va la imagen"
        /></a>
        <div class="content__search">
          <form class="search__form lupita">
            <div class="form__content">
              <input type="text" placeholder="Buscar" class="input" />
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </form>
        </div>

        <p class="primer-parrafo">
          <b>
            <i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y
            sin tarjeta de credito
          </b>
        </p>
      </div>

      <nav class="ocultar-versiones">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href=""> Tiendas Oficiales</a></li>
          <li><a href="">Vender </a></li>
          <li><a href="">Ayuda</a></li>
        </ul>

        <ul>
          <li>
            <a href="/registro"
              >Crea tu cuenta <i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"> Ingresa <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="">
              Mis compras <i class="fa-solid fa-basket-shopping"></i>
            </a>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section class="section__registro"> 
        <form class="form__registro" action="/registro" method="post">
          <input class="input__form__registro" type="text" name="nombre-apellido" placeholder="Nombre y Apellido">

          <input class="input__form__registro" type="text" name="nombre-usuario" placeholder="Nombre de Usuario">

          <input class="input__form__registro" type="email" name="e-mail" placeholder="E-mail">
          
          <label class="label__form__registro" for="fecha-nacimiento">Fecha de Nacimiento:</label>
          <input class="input__form__registro" type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="MM/DD/YYYY" min="1930-01-01" max="2005-12-31">

          <input class="input__form__registro" type="text" name="domicilio" placeholder="Domicilio">

          <label class="label__form__registro">Perfil de usuario</label>
          <div class="div__radio__form__registro">
          <p><input class="input__form__registro" type="radio" name="Comprador" value="Comprador">  Comprador</p>
          <p><input class="input__form__registro" type="radio" name="Vendedor" value="Vendedor">  Vendedor</p>
          </div>

          <label class="label__form__registro">Intereses</label>
          <p><input class="input__form__registro" type="checkbox" name="electro"> Electro</p>
          <p><input class="input__form__registro" type="checkbox" name="moda"> Moda</p>
          <p><input class="input__form__registro" type="checkbox" name="hogar"> Jugueteria</p>
          <p><input class="input__form__registro" type="checkbox" name="jugueteria"> Vida Sana</p>
          
          <label class="label__form__registro__foto-usuario">Foto de Usuario</label>
          <input class="input__form__registro__foto-usuario" type="file" name="imagen-perfil" accept=".jpg .png">

          <input class="input__form__registro" type="password" placeholder="Contraseña" name="password" required>
          <input class="input__form__registro" type="password" placeholder="Confirmar Contraseña" name="Confirmar contraseña" required>

            <div class="div__button__form__registro">
          <button class="button-borrar__form__registro" type="reset">Borrar</button>
          <button class="button__form__registro" type="submit">Enviar</button>
            </div>
          
        </form>
      </section>
    </main>

    <footer>
      <section class="section-footer">
        <i class="foo1 fa-solid fa-credit-card"> </i> 

        <h3>Pagá con tarjeta o en efectivo</h3>

        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>

        <i class="foo1 fa-solid fa-gift"> </i> 
        <h3>Envío gratis desde $ 2.500</h3>

        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        <i class=" foo1  fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>

        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>

