<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css\registro.css" />
  </head>
  <body>
    <header class="espacio-elementos">
      <div class="barra-de-nav">
        <div class="header-content">
          <img
            class="search__logo"
            src="images/logo-mercado-liebre.svg"
            alt="aqui va la imagen"
          />
          <div class="content__search">
            <form class="search__form lupita">
              <div class="form__content">
                <input type="text" placeholder="Buscar" class="input" />
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </form>
          </div>

          <p class="primer-parrafo">
            <b>
              <i class="fa-solid fa-hand-holding-dollar"></i> compra en cuotas y
              sin tarjeta de credito
            </b>
          </p>
        </div>

        <nav class="ocultar-versiones">
          <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href=""> Tiendas Oficiales</a></li>
            <li><a href="">Vender </a></li>
            <li><a href="">Ayuda</a></li>
          </ul>

          <ul>
            <li>
              <a href=""
                >Crea tu cuenta <i class="fa-regular fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="">
                Ingresa <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="">
                Mis cuentas <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>

        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </header>
  </body>
</html>
