@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200&family=Open+Sans:wght@300&family=Raleway:wght@700&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #ebebeb;
} 

img {
    max-width: 100%;
    display: block;
}


header {
    background-color: #EAC926;
    width: 100%;
    padding: 16px;
}

ul, li {
    list-style-type: none;
   padding: 0;
}

.ocultar-versiones {
    display: none;
}

.contenedor-tarjeta {
    display: flex;
    padding: 16px;
    gap: 10px;                                  /*espacio entre los productos, cuando uso flexblox*/
    flex-wrap: wrap;                            /*fila depende el ancho de pantalla  <3 */
    background-color: #ebebeb;
}

.producto {
    margin-bottom: 10px;                                         /*  margen para abajo*/
    background-color: white;  
}

.imagen {
    width: 80%; 
}

.producto-info {
    padding: 15px;
    border-top: 1px solid #ebebeb; 
}


.descuento, .icon-camion { 
    color: rgb(10, 227, 10);
    font-weight: bold;
}

.icon-camion i {
    border: 1px solid rgb(8, 213, 8);
    padding: 8px;
    border-radius: 50%;
    
}



.lupita {
    margin-left: 50px;
}

.logo {
 width: 150px;
 height: 70px;
}

.principal {
    background-color: white;
    flex-direction: row;
    width: 90%;
    margin: 0px auto;
    justify-content: space-around;
}

.titulo {
    padding: 0 16px; /* padding para rriba */

}


.banner-official {
    width: 100%;
}

.primer-parrafo {
    margin-left:20px;
}

.segundo-parrafo {
    background-color: #ebebeb;
    margin: 0px;
    padding: 10px;
}



footer {
    color:#666; 
    text-align: center;
}

footer div {
    margin-left: 50px;
    color: #1259c3;
    font-size: 50px;
}

a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    background-color: #1259c3;
    border-radius: 10%;
    display: inline-block; /* bloqueo de linEA*/
    margin-left: 40%;
    padding: 3px; 
    font-size: 30px;   
    color:white;
    text-align: center;
}

.descripcion {
    display: none;
}




@media(min-width: 361px )  {
/* tablet */
.descripcion {
    display: flex;
}
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.ocultar-versiones {
    display: block;
}
.burger-menu {
    display: none;
}
}

@media(min-width: 769px) {
/* escritorio */
.descripcion {
    display: flex;
}
.producto {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.ocultar-versiones {
    display: block;
}
.burger-menu{
    display: none;
}
}